body {
    background-color: #f6f6f6;   
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
}
.root {
    margin: 0 auto;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.root-footer {
    height: 180px;
}
.main-container {
    width:100%;
    height: auto;
    margin: 80px auto;
}
.user-info-body {
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: auto;
    width: 80%;
    margin: 30px auto;
    border-radius: 4px;
}
.user-background {
    height: 150px;
}
.user-info-container {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    height: auto;
    width: auto;
    margin: 0 auto;
}
.user-head-container {
    display: inline-block;
    height: auto; 
    width: auto;
    border-radius: 50%;
    margin-top: -60px;
    overflow: hidden;
    background-color: #ff7b9e79;
}
.user-head-container img {
    display: block;
    border-radius: 50%;
    height: 110px; width: 110px;
}
.user-name {
    letter-spacing: 3px;
    padding: 5px;
    font-size: 1.8em;
    font-weight: 600;
    color: #000;
}
.user-descrition {
    padding: 5px 0 15px 0;
    font-size: .9em;
    color: #666666;
}
.content-container {
    width: 65%;
    margin: 0 auto;
}
.article-title-container {
    padding: 20px 0;
}
#create-time {
    margin-top: 10px;
    padding: 5px 0 5px 0;
    font-size: 0.8em;
    text-align: right;
    border-bottom: 1px solid #dbd8d8;
}
#article-title{
    color: #000;
    padding: 10px 0;
    text-align: center;   
}
#content {
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    line-height: 2em;
    color: black;   
}
.content-footer {
    padding: 20px 0 20px 0;
    border-top: 1px solid #dbd8d8;
}
.view-content-people {
    font-size: .8em;
    padding-bottom:  10px;
}
.content-footer::after {
    content: "";
    display: block;
    clear: both;
}
.comment-container {
    height: auto;
    width: 65%;
    margin: 0 auto;
}   
.comment-header {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid #dbd8d8;
}
.comment-header p {
    font-size: 1.8em;
}
.comment-header span {
    font-size: .8em;
    padding: 0 15px;
    color: #ff7b9e79;
}
.comment-body {
    padding: 5px 0;
    border: 1px solid #f27596;
    border-radius: 8px;
    height: 60px;
    width: 85%;
    margin: 20px 0 30px 0;   
}
.add-comment {
    position: relative;
}
#comment {
    overflow-y: hidden;
    height: 40px;
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#summit-comment {
    letter-spacing: 2px;
    font-size: 1em;
    background-color: #00a1d6;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    width: 10%;
    position: absolute;
    right: 0;
    top: 14px;
}
.user-head {
    height: 70px;
    width: 70px;
    margin: 0px 20px 15px 0;
    opacity: .8;
    float: left;
    background-color: #ff7b9e79;
    border-radius: 50%;
}
.comment-wrap {
    margin-left: 90px;
}
.user-head img {
    height: 70px;
    width: 70px;
    line-height: 70px;
    
}
.comment-user-name {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;
}
.comment-level {
    color: #dbd8d8;
    font-size: 1.3em;
    font-weight: 600;
    padding-right: 5px;
}
.comment-content {
    letter-spacing: 2px;
    line-height: 1.3em;
    padding: 5px 0;
    font-weight: 500;
    font-size: 1.3em;
    color: #000;
}
.card {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.comment-card {
    width: 100%;
    height: auto;
}
.comment-footer {
    position: relative;
    font-size: .9em;
    font-weight: 500;
    color: #99a2aa;
    width: 100%;
    padding: 10px 0 5px 0;
    border-bottom: 1px dashed #dbd8d8;
}
.hide-buttom {
    cursor: pointer;
    font-weight: 600;
}
.hide-buttom img {
    height: 1.1em;
    margin-bottom: 1px;
}
.comment-footer::after {
    content: "";
    display: block;
    clear: both;
}
.comment-number {
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    user-select: none;
}
.comment-number:hover {
    background-color: #e5e9ef;
    color: #00a1d6;
}
.comment-time {
    float: right;
    right: 10px;
}
.tag ul {
    display: flex;
    flex-wrap: wrap;
}
.tag li {
    width: auto;
    height: 20px;
    margin: 0 23px 15px 0;
    line-height: 20px;
    position: relative;
}
.tag a {
    border-radius: 20px;
    text-align: center;
    color: #00a1d6;
    display: block;
    height: 100%;
    padding: 2px 5px;
    width: 100%;
    font-size: .7em;
    letter-spacing: 1px;
    border: 1px solid #99a2aa;
}
.reply-container {
    margin-top: 20px;
    height: auto;
    width: 100%;
    border-top: 1px solid #dbd8d8;
    padding-top: 10px;
}
.reply-header {
    font-size: 1em;
    color: #000;
}
.reply-header span {
    color: #f27596;
    font-weight: 600;
    vertical-align: baseline;
    font-size: .9em;
}
.reply-time {
    font-size: .9em;
    color: #f27596;
    font-weight: 500;
    float: right;
}
.reply-content {
    letter-spacing: 1px;
    color: #000;
    padding: 10px 0;
    font-size: 1em;
}
.reply-time span {
    font-weight: 500;
}
@media screen and (max-width:500px) {
    h1 {
        font-size: 1.8em;
    }
    .outter-header{
        position: relative;
    }
    body {
        background-color: #fff;
        font-size: 14px;
    }
    .main-container {
        margin: 0;
    }
    .content-container {
        width: 90%;
        
    }
    .comment-container {
        width: 90%;
    }
    #summit-comment {
        width: 13%;
        font-size: .9em;
    }
    .user-info-body {
        width: 90%;
    }
    .user-background {
        height: 110px;
    }
}








