/*
这里是顶部栏的css
*/
.outter-header {
    position: fixed;
    top: 0px;
    width: 100%; height: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    z-index: 20000000000000000;
    
}
header {
    position: relative;
}
.banner-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 6px;
    width: 80%;
    margin: 0 auto;
}
.blog-logo {
    display: block;
    font-size: 30px;
    color: #593123;
    font-weight: 600;
    height: 40px;
    width: auto;
    cursor: pointer;
}
.blog-logo img{
    height: 100%;
    vertical-align: bottom;    
}
.search-container {
    
    background-color: #f6f6f6;
    border: 1px solid #d4e2e9;
    border-radius: 5px;
    height: 35px; width: 250px;
    margin: 5px;
}



.header-navigation {

}

#search-bar {
    height: 100%; width: 80%;
    padding: 10px 0 10px 10px;
    background: transparent;
}
#search-button {
    height: 100%; width: 10%;
    cursor: pointer;  
    background-color: transparent;
}
#search-icon {
    height: 20px;
}
.show-search {
    height: 200px; width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    display: none;
}
.search-things {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid #f6f6f6;
}
.search-things span {
    font-size: 12px;
    color: blue;
}


.user-container {
    height: 40px;
    width: 40px;
}
.first-menu {
    border-radius: 50%;
    border: 1px solid #666;
    height: 100%;
    width: 100%;
    background-position: center;
    background-image: url(../image/info.png);
    background-size: contain;
    cursor: pointer;
    display: block;
}
.second-menu {
    position: absolute;
    top: 72px; right: 10.5%;
    margin:  0 -60px;
    height: auto; width: 150px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.2);
    display: none;
    user-select: none;
}  
.second-menu::before {
    content: " ";
    height: 0; width: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -20px;
    left: 65px;
     
}
   


.second-menu ul {
    height: auto;
    margin: 10px auto;
    width: auto;
}
.second-menu li {
    width: ;
    height: 47px;
    text-align: center;
    margin: 0 auto;
    transition: background-color .3s, padding .7s; 
}
.second-menu a {
    
    text-align: left;
    display: inline-block;
    width: 100px;
    
    line-height: 50px;
}
.second-menu li:hover {
    background-color: #ecf1f5;
}
.second-menu-icon {
    height: 18px;
    padding-right: 6px;
    padding-bottom: 2px;
    vertical-align: middle;
    
}

/*
侧边栏
*/
.sidebar-container {
    position: sticky;
    top: 60px;
    vertical-align: top;
    float: right;
    width: 30%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.side-bar-header {
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #f6f6f6;
}
.side-bar-nav {
    height: auto;
}
.side-bar-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}
.side-bar-nav li {
    padding: 20px ;
}
.side-bar-nav span {
    display: block;
    font-size: 1em;
    line-height: 30px;
}
.side-bar-nav img {
    display: block;
    height: 30px;
    margin: 0 auto;
}
/*
底部栏
*/
.root-footer {
    overflow: hidden;
    width: 100%;
    height: 160px;
    background-color: #fff;
    padding: 0 0 10px 0;
    text-align: left;
    color: #999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: 1px solid #f6f6f6;
}
.footer-logo {
    float: right;
    letter-spacing: 2px;
    font-size: 16em;
    color: #f27596;
    font-weight: 800;
    margin: 0 auto;
    height: auto;
    width: auto;
    margin-right: 4%;
    margin-top: -15px;
    line-height: 1em;
    padding: 0;
}
.footer-logo img {
    height: .9em;
    margin-left: -9%;
}

.footer-content {
    height: auto; width: 80%;
    margin: 40px auto 0 auto; padding: 0;    
}
.footer-content p{
    
    padding: 10px 0;
    font-size: 1.1em;
    margin: 0 auto; 
      
}
.footer-content h5 {
    font-size: .8em;
    margin: 0; padding: 0;
    margin: 15px 0 0 0;
}


@media screen and (max-width: 536px){

    .banner-container {
        width: 96%;
        padding: 6px 2%;
    }
    .blog-logo {
        font-size: 26px;
        height: 32px;
    }
    .search-container {
        font-size: 10px;
        width: 50%;
    }
    .user-container {
        height: 30px;
        width: 30px;
        
    }
    .first-menu {
        background-image: url(../image/menu.png);
        border-radius: 0;
        border: 0;
    }
    .second-menu {
        width: 100%;
        right:  0;
        margin: 0;
        top: 60px;
    }
    .second-menu::before {
        display: none;
    }
    .sidebar-container {
        width: 100%;
        float: none;
    }

}
