/*
初始化css
*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,textarea,select,button{margin:0;padding:0;} 


body {
    font-size: 14px;
    font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    background-color: #f6f6f6;   
    font-weight: 500;
    color: #f27596;
}
a{color: #f27596;text-decoration:none;resize: none;outline: none;} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
input {  outline: none;
    resize: none;
    border: none;}
button {border: none;
        outline: none;
        cursor:pointer; 
        
        }
.page_progress_mes {
    
    height: 5px;
    width: 1px;
    border-radius: 3px;
    background-color: #ed2553;
   
}