body {
    height: auto;
    position: relative;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.root {
    width: 100%;
    height: 1vh;
}
main {
    overflow: hidden;
    height: auto;
    width: auto;
    position: relative;
    margin: 0 auto;
    padding-bottom: 180px;
    margin-bottom: 100px;
}
.nav-container {
    display: flex;
    height: auto;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    
    justify-content: space-between;
}
.blog-logo-container{
    height: auto;

}
.blog-logo {
    display: block;
    font-size: 2em;
    color: #593123;
    font-weight: 600;
    height: 40px;
    width: 200px;
    cursor: pointer;
    margin: 0 auto;
}
.blog-logo img{
    height: 100%;
    vertical-align: bottom;    
}
.visitor {
    display: block;
    background-color: #ed2553;
    width: 92px; height: 41px;
    font-size: 1em;
    line-height: 41px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 5px;
    color: #fff;
    position: relative;
}

.slogen-container {
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #666666;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 50px;
    text-align: center;
    letter-spacing: 2px;
}
.slogen-container h1 {
    margin: 0 0 20px;
    font-size: 2.5em;
    font-weight: 300;
}
.slogen-container span {
    font-size: 0.8em;
}


.inner-panel {
    width: 390px;
    height: 11px;
    background-color: rgb(247, 244, 244);
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
}

.title {
    position: relative;
    border-left: 5px solid #ed2553;
    margin: 0 0 30px;
    padding: 10px 0 10px 40px;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
  }

.switch-button {
    position: relative;
    background: #ed2553;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 90px;
    text-align: center;
    cursor: pointer;
}
.container2.active .switch-button{
    position: absolute;
    z-index: -10;
    top: 40px;
    right: -70px;
    -webkit-transform: scale(20);
    transform: scale(20);
    font-size: 0px;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    cursor: default;
}
.container2 .show-table {
    left: 100px;
    display: none;
}
.container2.active .show-table{
    left: 0;
    display: block;
    z-index: 1;
}
.container2.active {
    left: -10px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    overflow: hidden;
}

.container2 {
    user-select: none;
    position: absolute;
    top: 10px;
    left: 300px;
    z-index: 10;
    width: 370px;
    padding: 20px 30px;
    height: auto;
    background: none;
    border-radius: 50%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.container2 .title{
    margin: 10px;
    position: relative;
    border-color: #fff;
    color: #fff;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0px;
    display: inline;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
}
.close::before {
    content: '\00d7';
}
.panel {
    font-size: .8em;
    width: 350px;
    height: auto;
    padding: 50px 30px 50px 30px;
    background-color: #fff; 
    box-shadow: 0 15px 50px 0 rgba(0,34,77,.20);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    user-select: none;
}


.container {
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    color: #ed2553;
}
.container.reset {
    height: 340px;
    visibility: hidden;
}
.hide {
    display: none;
}

.input_container {
    height: auto; width: auto;
    text-align: left;  
    margin: 23px auto auto auto;
}
.container2 .input {
    border-color: #fff;
    
}
.input {
    height: 45px; width: 95%;
    padding: 1px 0 1px 5%;
    font-size: 1.2em;
    border-radius: 5px 5px 5px 5px;
    border:  #f27596 solid 1px;
}
.change-input-boderRadius {
    border-radius: 5px 5px 0 0;
}

.label {
    width: 100%;
    height: 20px;
}
.label span {
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600;
}
.label img {
    height: 17px;
    vertical-align: baseline;
    float: left;
    margin-right: 3px;
}
.container2 .label {
    color: #fff;
}

#forget_password {
    cursor: pointer;
    width: auto;
    line-height: 20px;
    text-decoration: none;
    float: right;
    color: #ed2553;
    font-size: 11px;
    text-align: right;
    margin-right: 0px;
}

.msgContainer {
    height: 33px;
    width: 100%;
    line-height: 33px;
    border:  solid  1px #f27596;
    border-radius: 0 0 5px 5px;
    border-top: 0px;
    color: #ed2553;
    background-color: #fceeee;
    transition: border-color 1s;
    display: none;
}
.show-Msg {
    display: block;
}
.container2 .msgContainer {
    border-color: #fff;
}

.msgContainer p {
    letter-spacing: 1px;
    margin-left: 5%;
}

.idcContainer {
    height: auto; width: auto;
    text-align: left; 
    background-color: #fceeee;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    display: none;
    padding: 1px;
}
.idcContainer h4
    {
    color: gray;
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
    }

#idcInput {
    background-color: #fceeee;
    height: 50px;
    font-size: 13px
    width: 60%;
    padding-left: 5px;
    border: none;
}
#idcPic {
    display: block;
    background-color: #fff;
    height: 40px; width: 70px;
    cursor: pointer;
    margin: 10px auto;
}


.summit_button {
    font-size: 1.5em;
    margin: 40px auto 0 auto;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: gray;
    height: 50px;
    width: 100%;
    color: #fff;
    width: 100%;
    display: block;
}
.container2 .summit_button {
    cursor: pointer;
    transition: background-color 1s, box-shadow .7s;
}
.container2 .summit_button:hover {
    background-color: #753f2c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.canUse {
    background-color: #ed2553;
    transition: background-color 1s ,box-shadow .7s;
    cursor: pointer;
}

.canUse:hover {
    background-color: #b92044;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

